<title>@ViewBag.Title | @ViewBag.PreTitle</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="@ViewBag.Keyword">
<meta name="description" content="@ViewBag.Description">
<meta name="author" content="Sezyum Bilişim">

@Html.Raw(ViewBag.Css)