@model Yesil.Model.IShop
@{
    ViewBag.Title = "Hesabım";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<div class="breadcrumbs-v4">
    <div class="container">
        <h1>@Model.Customer.Firstname @Model.Customer.Lastname</h1>
        <ul class="breadcrumb-v4-in">
            <li><a href="/">Anasayfa</a></li>
            <li><a href="#">Hesabım</a></li>
        </ul>
    </div>
</div>
<div class="log-reg-v3 content-xs">
    <div class="container">
        @if (Model.Customer.Alert.AlertStatus != null)
        {
            if (Model.Customer.Alert.AlertStatus)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-@Model.Customer.Alert.AlertCssClass">
                            @if (@Model.Customer.Alert.AlertTitle != "")
                            {
                                <strong>@Model.Customer.Alert.AlertTitle</strong>
                                <br />
                            }
                            @Model.Customer.Alert.AlertBody
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_CustomerMenuPartial")
            </div>
            <div class="col-md-9">
                <div class="panel panel-default margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title">Giriş bilgileri</h3>
                    </div>
                    <div class="panel-body">
                        <form class="margin-bottom-40" role="form" method="post" action="/Customer/SaveCredential">
                            <input type="hidden" name="CustomerCredentialId" id="CustomerCredentialId" value="@Model.Customer.Credential.CustomerCredentialId" />
                            <div class="form-group">
                                <label for="Email">Email address</label>
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Eposta" value="@Model.Customer.Credential.Email" />
                            </div>
                            <div class="form-group">
                                <label for="Password">Parola</label>
                                <input type="text" class="form-control" id="Password" name="Password" placeholder="Parola" value="@Model.Customer.Credential.Password" />
                            </div>
                            <button type="submit" class="btn-u btn-u-blue">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>